
/***************************
global
****************************/

body {
  color: #c5c5c5;
  background-color: #20212a;
  font-family: 'Source Code Pro';
}

.bg--dark {
  background: #20212a;
}


/***************************
colors
****************************/
#game--color {
  color: #c24051;
}

#map--color {
  color: #39c46f;
}

.btn.btn--primary {
  border-color: #e3c742;
  background: #3d4051;
}


#game--color.btn.btn--primary:hover {
  border-color: #c24051;
  background: #c24051;
}

#map--color.btn.btn--primary:hover {
  border-color: #39c46f;
  background: #39c46f;
}

.btn--primary .btn__text,
.btn--primary:visited .btn__text {
  color: #fff;
}

.northAmerica {
  background-color: #008776;
}

.southAmerica {
  background-color: #664925;
}

.africa {
  background-color: #724735;
}

.asia {
  background-color: #752536;
}

.australia {
  background-color: #55739f;
}

.europe {
  background-color: #497246;
}

.ocean {
  background-color: #1b2f54;
}


.nav-bar.bg--dark .menu > li > a:hover {
  color: #fff;
  transform: translate3d(5px, 0, 0);
  -webkit-transform: translate3d(5px, 0, 0);
}





/** buttons for about page tabs**/

.btn .btn__text,
.btn i {
  color: #fff;
  border-color: #e3c742;
  font-weight: 400;
  font-size: 0.625em;
}

.tabs-1 .tabs li.active .btn {
  border-color: #e3c742;
}

/***************************
typography
****************************/
a {
  color: #fff;
}

.lead {
  font-family: 'Open Sans';
}

h2 {
  
}
h3 {
  font-family: 'Montserrat';
  font-weight: normal;

}


.menu > li {
  position: relative;
  float: left;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: 'Press Start 2P', sans-serif;
}

.masonry .masonry__filters li {
  display: inline-block;
  cursor: pointer;
  font-family: 'Open Sans';
  text-transform: lowercase;
  color: #e3c742;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/***************************
map pages
****************************/

.header img {
  /*height: 400px;*/
  width: 100%;
}

.region {
  font-size: 4em;
  color: #f4f5f6;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.region-title {
  height: 150px;
  text-align: center;
  margin-top: 20px;
}

.screen {
  background-image: url("../images/8bit black.jpg");
  background-repeat: no-repeat;
  background-size: contain;
min-height: 540px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.card {
  border: 2px solid #1b2f54;
  border-radius: 25px;
  contain: content;
}

.card-1 .card__title {
  padding: 1.5em;
  margin-bottom: 0;
  margin-top: 0.2em;
  color: #fff;
  line-height: 2.5em;
  text-align: center;
}

.card h5 {
  color: #fff;
}

.playPreview {
  position: absolute;
  right: 12%;
  bottom: 6%;
}

.img__description {
  padding-bottom: 40%;

